body { background: #b3e506; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 32px; display: flex; }
.block-uploader-0 { color: #d101d7; font-size: 12px; margin-bottom: 5px; }
.block-token-1 { color: #2179ce; font-size: 13px; margin-bottom: 5px; }
.block-session-2 { color: #42ec6e; font-size: 17px; margin-bottom: 5px; }
.block-logger-3 { color: #61ff56; font-size: 15px; margin-bottom: 5px; }
.block-product-4 { color: #eda2f8; font-size: 19px; margin-bottom: 5px; }